@import '../../../../variables';

:host {
  display: block;
}

// Product title
$product-title-link-color:            $headings-color;
$product-title-link-hover-color:      var(--#{$prefix}primary);
$product-title-link-transition:       color .25s ease-in-out;

.product-title > a {
  transition: $product-title-link-transition;
  color: $product-title-link-color;
  text-decoration: none !important;
  &:hover {
    color: $product-title-link-hover-color;
  }
}
