<div class="row">
  <!-- List of items-->
  <section [formGroup]="cartFormGroup" class="col-lg-8">
    <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
      <h2 class="h6 text-light mb-0" i18n="@@checkoutTitle">Products</h2>
      <a class="btn btn-outline-primary btn-sm ps-2" routerLink="../products">
        <i class="bi bi-arrow-left me-2"></i>
        <ng-container i18n="@@checkoutContinue">Continue shopping</ng-container>
      </a>
    </div>
    <ng-container formArrayName="items">
      <!-- Item-->
      <div *ngFor="let cartItem of cartItemsFormArray.controls; let i=index" class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
        <ng-container [formGroupName]="i">
          <div class="d-block d-sm-flex align-items-center text-center text-sm-start">
            <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" [routerLink]="['../product', cartItem.get('product.id')?.value]">
              <img src="{{productImage(cartItem, 160, 160)}}" width="160" alt="Product">
            </a>
            <div class="pt-2">
              <h3 class="product-title fs-base mb-2">
                <a [routerLink]="['../product', cartItem.get('product.id')]">{{cartItem.get('product.name')?.value}}</a>
              </h3>
              <div class="fs-lg text-accent pt-2">{{cartItem.get('product.price')?.value | currency}}</div>
            </div>
          </div>
          <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
            <label class="form-label" for="quantity-{{i}}" i18n="@@checkoutQuantityLbl">Quantity</label>
            <input class="form-control" type="number" formControlName="amount" id="quantity-{{i}}">
            <button class="btn btn-link px-0 text-danger" type="button" (click)="removeCartItem($event, cartItem.get('id')?.value)">
              <i class="bi bi-x-circle me-2"></i>
              <span class="fs-sm" i18n="@@checkoutRemoveBtn">Remove</span>
            </button>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <div *ngIf="!cartItemsFormArray.controls.length">
      <h1 i18n="@@checkoutEmptyTitle">Your cart is empty.</h1>
      <ng-container i18n="@@checkoutEmptySubtitle">Check out items on the page and add it to the cart.</ng-container>
    </div>
    <button [disabled]="isLoading" (click)="updateCart()" class="btn btn-outline-accent d-block w-100 mt-4" type="button">
      <i class="bi bi-arrow-clockwise fs-base me-2"></i>
      <ng-container i18n="@@checkoutUpdateCartBtn">Update cart</ng-container>
    </button>
  </section>
  <!-- Sidebar-->
  <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
    <div class="bg-white rounded-3 shadow-lg p-4">
      <div class="py-2 px-xl-2">
        <div class="text-center mb-4 pb-3 border-bottom">
          <h2 class="h6 mb-3 pb-1" i18n="@@checkoutSubtotal">Subtotal</h2>
          <h3 class="fw-normal">{{cartTotalPrice | currency}}</h3>
        </div>
        <div class="mb-3 mb-4">
          <label class="form-label mb-3" for="order-comments">
            <span class="badge bg-info fs-xs me-2" i18n="@@checkoutSidebarNote">Note</span>
            <span class="fw-medium" i18n="@@checkoutSidebarNoteComment">Additional comments</span>
          </label>
          <textarea class="form-control" rows="6" id="order-comments"></textarea>
        </div>
        <div class="accordion" id="order-options">
          <div class="accordion-item">
            <h3 class="accordion-header">
              <a class="accordion-button" href="#promo-code" role="button" data-bs-toggle="collapse"
                 aria-expanded="true" aria-controls="promo-code" i18n="@@checkoutApplyPromoHeader">Apply promo code</a>
            </h3>
            <div class="accordion-collapse collapse show" id="promo-code" data-bs-parent="#order-options" style="">
              <app-promo-input></app-promo-input>
            </div>
          </div>
        </div>
        <a class="btn btn-primary btn-shadow d-block w-100 mt-4" routerLink="../checkout">
          <i class="bi bi-credit-card fs-lg me-2"></i>
          <ng-container i18n="@@checkoutProceed">Proceed to Checkout</ng-container>
        </a>
      </div>
    </div>
  </aside>
</div>
