<div class="container">
  <!-- Gallery + details-->
  <div class="bg-light shadow-lg rounded-3 px-4 py-3 mb-5">
    <div *ngIf="$product | async as product" class="px-lg-3">
      <div class="row">
        <!-- Product gallery-->
        <div class="col-lg-7 pe-lg-0 pt-lg-4">
          <app-product-gallery [items]="product.galleryItems"></app-product-gallery>
        </div>
        <!-- Product details-->
        <div class="col-lg-5 pt-4 pt-lg-0">
          <div class="product-details ms-auto pb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <a href="#reviews" data-scroll="">
                <app-rating-bar [rating]="4"></app-rating-bar>
                <span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1">
                  {{product.numOfReviews}}
                  <ng-container i18n="@@pdNumOfReviews">Reviews</ng-container>
                </span>
              </a>
              <app-wishlist-button [wishlistButtonStyle]="'large'"></app-wishlist-button>
            </div>
            <div class="mb-3">
              <span class="h3 fw-normal text-accent me-1">
                {{(product.details.salePrice ? product.details.salePrice : product.details.price) | currency}}
              </span>
              <ng-container *ngIf="product.details.salePrice">
                <del class="text-muted fs-lg me-3">{{product.details.price | currency}}</del>
                <span i18n="@@pdSale" class="badge bg-danger badge-shadow align-middle mt-n2">Sale</span>
              </ng-container>
            </div>
            <form class="mb-grid-gutter" method="post">
              <div class="mb-3 d-flex align-items-center">
                <select class="form-select me-3" style="width: 5rem;">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <button class="btn btn-primary btn-shadow d-block w-100" type="submit">
                  <i class="bi bi-cart fs-lg me-2"></i><ng-container i18n="@@pdAddToCart">Add to Cart</ng-container>
                </button>
              </div>
            </form>
            <!-- Product panels-->
            <div class="accordion mb-4" id="productPanels">
              <div class="accordion-item">
                <h3 class="accordion-header">
                  <a class="accordion-button" href="#productInfo" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="productInfo">
                    <i class="bi bi-info-circle text-muted fs-lg align-middle mt-n1 me-2"></i><ng-container i18n="@@pdInfo">Product info</ng-container>
                  </a>
                </h3>
                <div class="accordion-collapse collapse show" id="productInfo" data-bs-parent="#productPanels">
                  <div [innerHTML]="product.details.description" class="accordion-body"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
