<section class="bg-accent bg-position-top-center bg-repeat-0 py-5" style="background-image: url(assets/images/marketplace-hero.jpg);">
  <div class="pb-lg-5 mb-lg-3">
    <div class="container py-lg-5 my-lg-5">
      <div class="row mb-4 mb-sm-5">
        <div class="col-lg-7 col-md-9 text-center text-sm-start">
          <h1 class="text-white lh-base">
            <span class="fw-light" i18n="@@homeTitle">Over 1,500 curated Design resources, Images, Graphic & Website templates</span>
          </h1>
          <h2 class="h5 text-white fw-light" i18n="@@homeSubTitle">High quality items created by our global community</h2>
        </div>
      </div>
    </div>
  </div>
</section>
