<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
    <li class="breadcrumb-item">
      <a class="text-nowrap" routerLink="/shop">
        <i class="bi bi-house-door"></i>Home
      </a>
    </li>
    <li
      *ngFor="let breadcrumbItem of $breadcrumbs | async; let last = last"
      [ngClass]="last ? 'active' : ''"
      class="breadcrumb-item text-nowrap">
      <ng-container *ngIf="last">
        {{breadcrumbItem.label}}
      </ng-container>
      <a *ngIf="!last" [routerLink]="breadcrumbItem.url">
        {{breadcrumbItem.label}}
      </a>
    </li>
  </ol>
</nav>
