// Standalone component - only load necessary bootstrap css

@import '../../base-variables';

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

:host {
  @import "bootstrap/scss/type";
  @import "bootstrap/scss/containers";
  @import "bootstrap/scss/grid";
  @import "bootstrap/scss/card";

  // Helpers
  @import "bootstrap/scss/helpers";
  // Utilities
  @import "bootstrap/scss/utilities/api";

  .card {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    height: 20rem;
    width: 23rem;
    margin: 1rem;
    background: $secondary;
  }

  .card:hover{
    box-shadow: 5px 6px 6px 2px $primary;
    transform: scale(1.1, 1.1);
  }

  .hero {
    background-image: url(/assets/images/marketplace-hero.jpg);
    height: 720px;
  }
}

:host:after {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container {
  //margin-top: 20px;
}
