<section class="hero bg-accent bg-position-center bg-size-cover py-3 py-sm-5">
  <div class="container" *ngIf="$shops | async as shops">
    <div class="row">
      <div *ngFor="let shop of shops" class="col">
        <div class="card position-relative" >
          <div class="card-body">
            <h5 class="card-title" i18n="@@homeShopTitle">Shop</h5>
            <p class="card-text">{{shop.name}}</p>
            <a [routerLink]="['../shop', shop.id]" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card position-relative">
          <div class="card-body">
            <h5 class="card-title" i18n="@@homeAdminTitle">Administration</h5>
            <p class="card-text" i18n="@@homeAdminSubtitle">Shop Management</p>
            <a [routerLink]="['/admin']" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
