<c-card class="mb-4">
  <c-card-header>Most Sold Products</c-card-header>
  <c-card-body>
    <c-row>
      <c-col class="d-none d-md-block" sm="7">
        <form [formGroup]="topProductsForm" [ngStyle]="{ 'marginTop.px': 10 }">
          <c-input-group class="mb-3">
            <span class="input-group-text">From</span>
            <input formControlName="from" type="date" class="form-control" id="productFromDate"/>
            <span class="input-group-text">To</span>
            <input formControlName="to" type="date" class="form-control" id="productToDate"/>
          </c-input-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="topProductsChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 10 }"
      [options]="topProductsChart.options"
      [type]="topProductsChart.type">Most sold products chart</c-chart>
  </c-card-body>
</c-card>
<c-card class="mb-4">
  <c-card-header>Revenue</c-card-header>
  <c-card-body>
    <c-row>
      <c-col class="d-none d-md-block" sm="7">
        <form [formGroup]="revenueForm" [ngStyle]="{ 'marginTop.px': 10 }">
          <c-input-group class="mb-3">
            <span class="input-group-text">From</span>
            <input formControlName="from" type="date" class="form-control" id="revenueFromDate"/>
            <span class="input-group-text">To</span>
            <input formControlName="to" type="date" class="form-control" id="revenueToDate"/>
            <c-button-group class="float-end me-3 ms-3" role="group">
              <input class="btn-check" formControlName="aggregateType" type="radio" value="Month" id="revenueFormMonth" autocomplete="off" checked />
              <label cButton cFormCheckLabel color="secondary" variant="outline" for="revenueFormMonth">Month</label>
              <input class="btn-check" formControlName="aggregateType" type="radio" value="Year" id="revenueFormYear" autocomplete="off" />
              <label cButton cFormCheckLabel color="secondary" variant="outline" for="revenueFormYear">Year</label>
            </c-button-group>
          </c-input-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="revenueChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 10 }"
      [options]="revenueChart.options"
      [type]="revenueChart.type">Revenue chart</c-chart>
  </c-card-body>
</c-card>
<c-card class="mb-4">
  <c-card-header>Number of sold Products</c-card-header>
  <c-card-body>
    <c-row>
      <c-col class="d-none d-md-block" sm="7">
        <form [formGroup]="soldProductsForm" [ngStyle]="{ 'marginTop.px': 10 }">
          <c-input-group class="mb-3">
            <span class="input-group-text">From</span>
            <input formControlName="from" type="date" class="form-control" id="soldProductsFromDate"/>
            <span class="input-group-text">To</span>
            <input formControlName="to" type="date" class="form-control" id="soldProductsToDate"/>
            <c-button-group class="float-end me-3 ms-3" role="group">
              <input class="btn-check" formControlName="aggregateType" type="radio" value="Month" id="soldProductsFormMonth" autocomplete="off" checked />
              <label cButton cFormCheckLabel color="secondary" variant="outline" for="soldProductsFormMonth">Month</label>
              <input class="btn-check" formControlName="aggregateType" type="radio" value="Year" id="soldProductsFormYear" autocomplete="off" />
              <label cButton cFormCheckLabel color="secondary" variant="outline" for="soldProductsFormYear">Year</label>
            </c-button-group>
          </c-input-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="soldProductsChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 10 }"
      [options]="soldProductsChart.options"
      [type]="soldProductsChart.type">Number of sold Products</c-chart>
  </c-card-body>
</c-card>
<c-card class="mb-4">
  <c-card-header>Number of carts</c-card-header>
  <c-card-body>
    <c-row>
      <c-col class="d-none d-md-block" sm="7">
        <form [formGroup]="numberOfCartForm" [ngStyle]="{ 'marginTop.px': 10 }">
          <c-input-group class="mb-3">
            <span class="input-group-text">From</span>
            <input formControlName="from" type="date" class="form-control" id="cartNumFromDate"/>
            <span class="input-group-text">To</span>
            <input formControlName="to" type="date" class="form-control" id="cartNumToDate"/>
            <c-button-group class="float-end me-3 ms-3" role="group">
              <input class="btn-check" formControlName="aggregateType" type="radio" value="Month" id="cartNumFormMonth" autocomplete="off" checked />
              <label cButton cFormCheckLabel color="secondary" variant="outline" for="cartNumFormMonth">Month</label>
              <input class="btn-check" formControlName="aggregateType" type="radio" value="Year" id="cartNumFormYear" autocomplete="off" />
              <label cButton cFormCheckLabel color="secondary" variant="outline" for="cartNumFormYear">Year</label>
            </c-button-group>
          </c-input-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="numOfCartChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 10 }"
      [options]="numOfCartChart.options"
      [type]="numOfCartChart.type">Number of carts</c-chart>
  </c-card-body>
</c-card>
<c-card class="mb-4">
  <c-card-header>Value of carts</c-card-header>
  <c-card-body>
    <c-row>
      <c-col class="d-none d-md-block" sm="7">
        <form [formGroup]="valueOfCartForm" [ngStyle]="{ 'marginTop.px': 10 }">
          <c-input-group class="mb-3">
            <span class="input-group-text">From</span>
            <input formControlName="from" type="date" class="form-control" id="cartValueFromDate"/>
            <span class="input-group-text">To</span>
            <input formControlName="to" type="date" class="form-control" id="cartValueToDate"/>
            <c-button-group class="float-end me-3 ms-3" role="group">
              <input class="btn-check" formControlName="aggregateType" type="radio" value="Month" id="cartValueFormMonth" autocomplete="off" checked />
              <label cButton cFormCheckLabel color="secondary" variant="outline" for="cartValueFormMonth">Month</label>
              <input class="btn-check" formControlName="aggregateType" type="radio" value="Year" id="cartValueFormYear" autocomplete="off" />
              <label cButton cFormCheckLabel color="secondary" variant="outline" for="cartValueFormYear">Year</label>
            </c-button-group>
          </c-input-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="valueOfCartChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 10 }"
      [options]="valueOfCartChart.options"
      [type]="valueOfCartChart.type">Value of carts</c-chart>
  </c-card-body>
</c-card>
<c-card class="mb-4">
  <c-card-header>Cart Overall Statistics</c-card-header>
  <c-card-body>
    <c-row>
      <c-col class="d-none d-md-block" sm="7">
        <form [formGroup]="overallForm" [ngStyle]="{ 'marginTop.px': 10 }">
          <c-input-group class="mb-3">
            <span class="input-group-text">From</span>
            <input formControlName="from" type="date" class="form-control" id="overallFromDate"/>
            <span class="input-group-text">To</span>
            <input formControlName="to" type="date" class="form-control" id="overallToDate"/>
          </c-input-group>
        </form>
      </c-col>
    </c-row>
    <c-row *ngIf="$overallStats | async as overallStats">
      <c-col>
        <c-row>
          <c-col sm="6">
            <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
              <div class="text-medium-emphasis small">Avg. Revenue per cart</div>
              <div class="fs-5 fw-semibold">{{overallStats.avgValueOfCarts | number}}</div>
            </div>
          </c-col>
          <c-col sm="6">
            <div class="border-start border-start-4 border-start-danger py-1 px-3 mb-3">
              <div class="text-medium-emphasis small">Avg. Products per cart</div>
              <div class="fs-5 fw-semibold">{{overallStats.avgProductsInCart | number}}</div>
            </div>
          </c-col>
        </c-row>
      </c-col>
      <c-col>
        <c-row>
          <c-col sm="6">
            <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
              <div class="text-medium-emphasis small">Number of carts</div>
              <div class="fs-5 fw-semibold">{{overallStats.countCarts | number}}</div>
            </div>
          </c-col>
          <c-col sm="6">
            <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
              <div class="text-medium-emphasis small">Number of used coupons</div>
              <div class="fs-5 fw-semibold">{{overallStats.countUsedCoupons | number}}</div>
            </div>
          </c-col>
        </c-row>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
