<div *ngIf="$cart | async as cart" class="py-2 px-xl-2">
  <div *ngIf="showProducts" class="widget mb-3">
    <h2 class="widget-title text-center" i18n="@@orderPageSummary">Order summary</h2>
    <div *ngFor="let cartItem of cart.items!" class="d-flex align-items-center pb-2 border-bottom">
      <a class="d-block flex-shrink-0" [routerLink]="['/product', cartItem.product?.id]">
        <img src="{{cartItem.product?.imageSrc ?? 'https://robohash.org/' + cartItem.product?.id + '.png?size=64x64'}}" width="64" alt="Product">
      </a>
      <div class="ps-2">
        <h6 class="widget-product-title">
          <a [routerLink]="['/product', cartItem.product?.id]">{{cartItem.product?.name}}</a>
        </h6>
        <div class="widget-product-meta">
          <span class="text-accent me-2">{{cartItem.product?.price | currency}}</span>
          <span class="text-muted">x {{cartItem.amount}}</span>
        </div>
      </div>
    </div>
  </div>
  <h2 *ngIf="!showProducts" class="widget-title text-center" i18n="@@orderPageSummary">Order summary</h2>
  <ul class="list-unstyled fs-sm pb-2 border-bottom">
    <li class="d-flex justify-content-between align-items-center"><span class="me-2">Subtotal:</span>
      <span class="text-end">{{cart.basePrice | currency}}</span>
    </li>
    <!--
    <li class="d-flex justify-content-between align-items-center">
      <span class="me-2">Taxes:</span><span class="text-end">—</span>
    </li>
    -->
    <li class="d-flex justify-content-between align-items-center">
      <span class="me-2">Discount:</span><span class="text-end">{{cart.discountValue | currency}}</span>
    </li>
  </ul>
  <h3 class="fw-normal text-center my-4">{{cart.totalPrice | currency}}</h3>
  <app-promo-input></app-promo-input>
</div>
