@import './src/variables';

:host {
  display: block;
}

// Widget: Featured products, Cart common styles
$widget-product-title-color:          $headings-color;
$widget-product-title-hover-color:    var(--#{$prefix}primary);
$widget-product-title-font-size:      $font-size-sm;
$widget-product-title-font-weight:    $headings-font-weight;
$widget-product-meta-font-size:       $font-size-sm;

.widget-product-title {
  margin-bottom: $spacer * .25;
  font: {
    size: $widget-product-title-font-size;
    weight: $widget-product-title-font-weight;
  }
  > a {
    color: $widget-product-title-color;
  }
  &:hover > a {
    color: $widget-product-title-hover-color;
  }
}
