<div class="row">
  <section class="col-lg-8">
    <!-- Steps-->
    <app-checkout-steps [steps]="steps"></app-checkout-steps>
    <!-- Order details-->
    <h2 class="h6 pt-1 pb-3 mb-3 border-bottom" i18n="@@checkoutReviewTitle">Review your order</h2>
    <ng-container *ngIf="$cart | async as cart" >
      <!-- Item-->
      <div *ngFor="let cartItem of cart.items!" class="d-sm-flex justify-content-between my-4 pb-3 border-bottom">
        <div class="d-sm-flex text-center text-sm-start">
          <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" [routerLink]="['../../product', cartItem.product?.id]">
            <img src="{{productImage(cartItem, 160, 160)}}" width="160" alt="Product">
          </a>
          <div class="pt-2">
            <h3 class="product-title fs-base mb-2">
              <a [routerLink]="['../../product', cartItem.product?.id]">{{cartItem.product?.name}}</a>
            </h3>
            <div class="fs-lg text-accent pt-2">{{cartItem.product?.price | currency}}</div>
          </div>
        </div>
        <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-end" style="max-width: 9rem;">
          <p class="mb-0">
            <span class="text-muted fs-sm"><ng-container i18n="@@checkoutReviewQuantity">Quantity</ng-container>:</span>
            <span>&nbsp;{{cartItem.amount}}</span>
          </p>
        </div>
      </div>
    </ng-container>
    <!-- Client details-->
    <div class="bg-secondary rounded-3 px-4 pt-4 pb-2">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="h6">Shipping to:</h4>
          <ul class="list-unstyled fs-sm">
            <li>
              <span class="text-muted"><ng-container i18n="@@checkoutSelectedName">Client</ng-container>:&nbsp;</span>
              {{customerData.customer?.firstName}}&nbsp;{{customerData.customer?.lastName}}
            </li>
            <li>
              <span class="text-muted"><ng-container i18n="@@checkoutSelectedAddress">Address</ng-container>:&nbsp;</span>
              {{customerData.address?.zipCode}}&nbsp;{{customerData.address?.city}},&nbsp;
              {{customerData.address?.street}},&nbsp;{{customerData.address?.state}},&nbsp;{{customerData.address?.country}}
            </li>
            <li>
              <span class="text-muted"><ng-container i18n="@@checkoutSelectedPhone">Phone</ng-container>:&nbsp;</span>
              {{customerData.customer?.telephoneNumber}}
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h4 class="h6"><ng-container i18n="@@checkoutSelectedPaymentMethod">Payment method</ng-container>:</h4>
          <ul class="list-unstyled fs-sm">
            <li>
              <span class="text-muted"><ng-container i18n="@@checkoutSelectedPaymentMethodName">Credit Card</ng-container>:&nbsp;</span>
              {{creditCardNumber}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Navigation (desktop)-->
    <div class="d-none d-lg-flex pt-4">
      <div class="w-50 pe-3">
        <a class="btn btn-secondary d-block w-100" routerLink="../payment">
          <i class="bi bi-arrow-left mt-sm-0 me-1"></i>
          <span class="d-none d-sm-inline" i18n="@@checkoutBackPayment">Back to Payment</span>
          <span class="d-inline d-sm-none" i18n="@@checkoutBackPage">Back</span>
        </a>
      </div>
      <div class="w-50 ps-2">
        <a class="btn btn-primary d-block w-100"
           [ngClass]="isLoading ? 'disabled' : ''"
           (click)="completeOrder($event)">
          <span class="d-none d-sm-inline" i18n="@@checkoutProceedComplete">Complete order</span>
          <span class="d-inline d-sm-none" i18n="@@checkoutProceedCompleteShort">Complete</span>
          <i class="bi bi-arrow-right mt-sm-0 ms-1"></i>
        </a>
      </div>
    </div>
    <div *ngIf="hasError('serverError')" class="alert alert-danger" role="alert" i18n="@@checkoutCompleteErrorServerError">
      Failed to process order. Try it later again.
    </div>
  </section>
  <!-- Sidebar-->
  <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
    <app-checkout-sidebar [showProducts]="false"></app-checkout-sidebar>
  </aside>
</div>
<!-- Navigation (mobile)-->
<div class="row d-lg-none">
  <div class="col-lg-8">
    <div class="d-flex pt-4 mt-3">
      <div class="w-50 pe-3">
        <a class="btn btn-secondary d-block w-100" routerLink="../payment">
          <i class="bi bi-arrow-left mt-sm-0 me-1"></i>
          <span class="d-none d-sm-inline" i18n="@@checkoutBackPayment">Back to Payment</span>
          <span class="d-inline d-sm-none" i18n="@@checkoutBackPage">Back</span>
        </a>
      </div>
      <div class="w-50 ps-2">
        <a class="btn btn-primary d-block w-100"
           [ngClass]="isLoading ? 'disabled' : ''"
           (click)="completeOrder($event)">
          <span class="d-none d-sm-inline" i18n="@@checkoutProceedComplete">Complete order</span>
          <span class="d-inline d-sm-none" i18n="@@checkoutProceedCompleteShort">Complete</span>
          <i class="bi bi-arrow-right mt-sm-0 ms-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>
