<h2 class="mb-4">{{discountId ? 'Edit Discount' : 'Create a Discount'}}</h2>
<div class="row">
  <div class="col-xl-9">
    <form (ngSubmit)="save($event)" [formGroup]="discountForm" class="row g-3 mb-6">
      <div class="col-md-12">
        <div class="form-floating">
          <input formControlName="name" class="form-control" id="name" type="text">
          <label for="name">Discount Name</label>
        </div>
      </div>
      <ng-container formGroupName="action">
        <div class="col-md-4">
          <div class="form-floating">
            <input formControlName="name" class="form-control" id="actionName" type="text">
            <label for="actionName">Action Name</label>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-floating">
            <textarea formControlName="parameters" class="form-control" id="actionParameters" rows="4"></textarea>
            <label for="actionParameters">Action Parameters</label>
          </div>
        </div>
      </ng-container>
      <ng-container formGroupName="rule">
        <div class="col-md-4">
          <div class="form-floating">
            <input formControlName="name" class="form-control" id="ruleName" type="text">
            <label for="ruleName">Rule Name</label>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-floating">
            <textarea formControlName="parameters" class="form-control" id="ruleParameters" rows="4"></textarea>
            <label for="ruleParameters">Rule Parameters</label>
          </div>
        </div>
      </ng-container>
      <div class="col-12 gy-6">
        <div class="row g-3 justify-content-end">
          <div class="col-auto">
            <button [routerLink]="[tenantIdService.tenantUrl + '/admin/discounts']" class="btn btn-lg btn-secondary px-5">
              Cancel
            </button>
          </div>
          <div class="col-auto">
            <button
              [disabled]="discountForm.invalid"
              type="submit"
              class="btn btn-lg btn-primary px-5 px-sm-15">
              {{discountId ? 'Save Discount' : 'Create Discount'}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
