<ng-container *ngIf="$cart | async as cart" [formGroup]="checkoutFormGroup">
  <div class="row">
    <section class="col-lg-8">
      <app-checkout-steps [steps]="steps"></app-checkout-steps>

      <!-- Shipping address-->
      <h2 class="h6 pt-1 pb-3 mb-3 border-bottom" i18n="@@checkoutBillingAddress">Billing address</h2>
      <form class="needs-validation">
        <ng-container formGroupName="customer">
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-fn">First Name</label>
                <input [ngClass]="isInvalid(firstNameControl) ? 'is-invalid' : ''"
                       formControlName="firstName" class="form-control" type="text" id="checkout-fn">
                <div *ngIf="firstNameControl.touched && firstNameControl.errors?.['required']"
                     i18n="@@checkoutFirstnameRequiredError"
                     class="invalid-feedback">
                  Please provide a first name.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-ln">Last Name</label>
                <input [ngClass]="isInvalid(lastNameControl) ? 'is-invalid' : ''"
                       formControlName="lastName" class="form-control" type="text" id="checkout-ln">
                <div *ngIf="lastNameControl.touched && lastNameControl.errors?.['required']"
                     i18n="@@checkoutLastnameRequiredError"
                     class="invalid-feedback">
                  Please provide a last name.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-email">E-mail Address</label>
                <input [ngClass]="isInvalid(eMailControl) ? 'is-invalid' : ''"
                       formControlName="eMail" class="form-control" type="email" id="checkout-email">
                <div *ngIf="eMailControl.touched && eMailControl.errors?.['required']"
                     i18n="@@checkoutEmailRequiredError"
                     class="invalid-feedback">
                  Please provide an E-Mail.
                </div>
                <div *ngIf="eMailControl.touched && eMailControl.errors?.['email']"
                     i18n="@@checkoutEmailFormatError"
                     class="invalid-feedback">
                  E-Mail has the wrong format.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-phone">Phone Number</label>
                <input [ngClass]="isInvalid(telephoneNumberControl) ? 'is-invalid' : ''"
                       formControlName="telephoneNumber" class="form-control" type="text" id="checkout-phone">
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container formGroupName="address">
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-country">Country</label>
                <select [ngClass]="isInvalid(countryControl) ? 'is-invalid' : ''"
                        formControlName="country" class="form-select" id="checkout-country">
                  <option value="">Choose country</option>
                  <option *ngFor="let country of $countries | async" [ngValue]="country">
                    {{country}}
                  </option>
                </select>
                <div *ngIf="countryControl.touched && countryControl.errors?.['required']"
                     i18n="@@checkoutCountryRequiredError"
                     class="invalid-feedback">
                  Please select a country.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-state">State</label>
                <input formControlName="state" [ngClass]="isInvalid(stateControl) ? 'is-invalid' : ''"
                       class="form-control" type="text" id="checkout-state">
                <div *ngIf="stateControl.touched && stateControl.errors?.['required']"
                     i18n="@@checkoutStateRequiredError"
                     class="invalid-feedback">
                  Please provide a state.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-zip">ZIP Code</label>
                <input formControlName="zipCode" [ngClass]="isInvalid(zipCodeControl) ? 'is-invalid' : ''"
                       class="form-control" type="text" id="checkout-zip">
                <div *ngIf="zipCodeControl.touched && zipCodeControl.errors?.['required']"
                     i18n="@@checkoutZipCodeRequiredError"
                     class="invalid-feedback">
                  Please provide a zip code.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-city">City</label>
                <input formControlName="city" [ngClass]="isInvalid(cityControl) ? 'is-invalid' : ''"
                       class="form-control" type="text" id="checkout-city">
                <div *ngIf="cityControl.touched && cityControl.errors?.['required']"
                     i18n="@@checkoutCityRequiredError"
                     class="invalid-feedback">
                  Please provide a city.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="checkout-address-2">Street</label>
                <input formControlName="street" [ngClass]="isInvalid(streetControl) ? 'is-invalid' : ''"
                       class="form-control" type="text" id="checkout-address-2">
                <div *ngIf="streetControl.touched && streetControl.errors?.['required']"
                     i18n="@@checkoutStreetRequiredError"
                     class="invalid-feedback">
                  Please provide a street.
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </form>
      <!-- Navigation (desktop)-->
      <div class="d-none d-lg-flex pt-4 mt-3">
        <div class="w-50 pe-3">
          <a class="btn btn-secondary d-block w-100" [routerLink]="tenantService.tenantUrl + '/cart'">
            <i class="bi bi-arrow-left mt-sm-0 me-1"></i>
            <span class="d-none d-sm-inline" i18n="@@checkoutBackCart">Back to Cart</span>
            <span class="d-inline d-sm-none" i18n="@@checkoutBackPage">Back</span>
          </a>
        </div>
        <div class="w-50 ps-2">
          <a [ngClass]="checkoutFormGroup.invalid ? 'disabled' : ''"
             (click)="saveCustomerData()"
             [routerLink]="tenantService.tenantUrl + '/checkout/payment'"
             class="btn btn-primary d-block w-100">
            <span class="d-none d-sm-inline" i18n="@@checkoutProceedPayment">Proceed to Payment</span>
            <span class="d-inline d-sm-none" i18n="@@checkoutNextPage">Next</span>
            <i class="bi bi-arrow-right mt-sm-0 ms-1"></i>
          </a>
        </div>
        <!--
        <button class="btn btn-secondary" (click)="findInvalidControls()">Find Invalid</button>
        -->
      </div>
    </section>
    <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
      <app-checkout-sidebar></app-checkout-sidebar>
    </aside>
  </div>
  <!-- Navigation (mobile)-->
  <div class="row d-lg-none">
    <div class="col-lg-8">
      <div class="d-flex pt-4 mt-3">
        <div class="w-50 pe-3">
          <a class="btn btn-secondary d-block w-100" routerLink="../cart">
            <i class="bi bi-arrow-left mt-sm-0 me-1"></i>
            <span class="d-none d-sm-inline" i18n="@@checkoutBackCart">Back to Cart</span>
            <span class="d-inline d-sm-none" i18n="@@checkoutBackPage">Back</span>
          </a>
        </div>
        <div class="w-50 ps-2">
          <a [ngClass]="checkoutFormGroup.valid ? '' : 'disabled'"
             (click)="saveCustomerData()"
             routerLink="./payment"
             class="btn btn-primary d-block w-100">
            <span class="d-none d-sm-inline" i18n="@@checkoutProceedPayment">Proceed to Payment</span>
            <span class="d-inline d-sm-none" i18n="@@checkoutNextPage">Next</span>
            <i class="bi bi-arrow-right mt-sm-0 ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
